<div class="dashboard-content">
  <div class="left-main-sec">
    <div class="top-sec">
      <div class="inner-top-sec">
        <span class="balance">Balance</span>
        <span class="amount">$ 7,893.66</span>
        <span class="account-dt">Your Account Number 0019-0075-2727-4420</span>
      </div>
    </div>
    <div class="bottom-sec">
      <div class="first-col-sec">
        <div class="first-sec">
          <div class="bar-chart">
            <app-bar-chart></app-bar-chart>
          </div>
        </div>
        <div class="second-sec">
          <span class="bottom-text">Safely withdraw your money anywhere</span>
          <div class="view-btn">
            <button mat-stroked-button class="btns">View full profile</button>
          </div>
        </div>
      </div>
      <div class="sec-col-sec">
        <div class="sec-first-sec">
          <app-line-chart></app-line-chart>
        </div>
        <div class="sec-second-sec">
          <app-donut-chart></app-donut-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="right-main-sec">
    <div class="first-right-sec">
      <h2 style="margin: 0px">My Profile</h2>
      <div>
        <img src="/assets/Images/user.jpg" class="profile-img" />
        <h2 style="margin: 0px">Ashina C K</h2>
        <span>Pro Account</span>
      </div>

      <div class="profile-button">
        <button mat-stroked-button class="btns">
          <span class="material-symbols-outlined edit-icon"> edit </span>
        </button>
        <button mat-stroked-button class="btns">View full profile</button>
      </div>
    </div>
    <div class="sec-right-sec">
      <div class="divider">
        <hr class="new1" />
      </div>
      <h2
        style="
          margin: 0px;

          text-align: center;
        "
      >
        Your last transaction
      </h2>
      <div class="some-text">
        <table style="width: 100%">
          <tr>
            <td style="font-weight: bold">Bank Transfer</td>
            <td style="text-align: end">Friday, 2hr</td>
          </tr>
          <tr>
            <td style="color: rgb(35, 167, 238)">View Details</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Mobile Banking</td>
            <td style="text-align: end">Sunday, 3hr</td>
          </tr>
          <tr>
            <td style="color: rgb(35, 167, 238)">View Details</td>
          </tr>
          <tr>
            <td style="font-weight: bold">E Payment</td>
            <td style="text-align: end">Monday, 4hr</td>
          </tr>
          <tr>
            <td style="color: rgb(35, 167, 238)">View Details</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
