.mat-table {
  border-radius: 10px;
}

.alternate-row {
  background-color: #9eadf91a;
}
::ng-deep .mat-mdc-cell {
  border-bottom-style: none !important;
}
.mat-table-container {
  max-height: 400px;
  width: 100%;
  overflow: auto;
}

.example-container {
  height: 375px;
  overflow: auto;
}

table {
  width: 100%;
}
.mat-paginator {
  display: flex;
  border-radius: 21%;
}
.whole-table {
  position: relative;
  zoom: 1;
  transform: scale(1);
  transition: zoom 1.5s ease;
  /* height: 100%; */
  animation: fadeIn 2.2s;
}
.w3-animate-top {
  position: relative;
  animation: loader 1s;
}
@keyframes loader {
  0% {
    top: -300px;
  }

  100% {
    top: 0px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 5vh);
    transition: all 1s;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

table tbody td {
  zoom: 1;
  transform: scale(1);
  transition: zoom 1.5s ease;
  height: 100%;
  position: relative;
}
