<div style="position: relative" class="main-div">
  <div class="main-box" id="pot">
    <div class="box1"></div>
    <div class="box1 newbox">
      <!-- <img
        style="width: 24%; height: 280px"
        src="https://assets.website-files.com/6058fae74428dbc4ec583ba1/605a71dfb8ab631e3e7cfaeb_Portrait003.jpg"
      /> -->
    </div>

    <div class="box1"></div>
  </div>
  <div class="second-sec">
    <div class="arrow-sec">
      <span class="material-symbols-outlined arrow-icon"> south </span>
    </div>
    <div class="middle-sec">
      <span class="name-heading">Sam Pann</span>
      <span class="description"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        dolor turpis, dictum a efficitur in, aliquam eget velit. Sed efficitur
        eget risus nec tristique.</span
      >
      <div class="book-btn">Book Tommy</div>
    </div>
    <div class="icons-position">
      <div class="first_arrow">
        <span class="material-symbols-outlined"> arrow_back </span>
      </div>
      <div class="first_arrow">
        <span class="material-symbols-outlined"> arrow_right_alt </span>
      </div>
    </div>
  </div>
  <div class="third-sec">
    <span class="display-large">Hired by the most prestigious companies</span>
    <div class="solid-line"></div>
  </div>
  <div class="images">
    <img
      src="https://assets.website-files.com/6058fae74428dbc4ec583ba1/60595250cef66a150185db1a_Demologo1.svg"
    />
    <img
      src="https://assets.website-files.com/6058fae74428dbc4ec583ba1/605952a56310c8feda3f8ee3_Demologo2.svg"
    />
    <img
      src="https://assets.website-files.com/6058fae74428dbc4ec583ba1/605952cf56c00b1efac94390_Demologo3.svg"
    />
    <img
      src="	https://assets.website-files.com/6058fae74428dbc4ec583ba1/605952babbb7513d68b5d61a_Demologo4.svg"
    />
    <img
      src="https://assets.website-files.com/6058fae74428dbc4ec583ba1/605952ba44907e54f5eee54e_Demologo5.svg"
    />
  </div>
  <div class="video-sec">
    <div class="video">
      <div class="preivew-icon">
        <span class="material-symbols-outlined preivew-icon-mat">
          play_arrow
        </span>
      </div>
      <h1>Showreel Showreel Showreel Showreel Showreel Showreel</h1>
    </div>
  </div>
</div>
